<html>
<head>
  <title>Pabu.Me</title>
  <script src="/js/jquery-1.7.2.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/kinetic-v3.9.6.min.js"></script>
  <script src="/js/pabu.js"></script>
  <link rel="stylesheet" href="/css/pabu.css" />

  <script>
    //window.onload = function() { pabuGO('./images/prototype.jpg', 640, 426); }
  </script>
</head>
<body>
  <h1>Pabu Me!</h1>
  <div>
    <form method="POST" action="/pabuplan" id="urlForm">
      Gimme an URL: <input name="url" type="text" value="http://mc.rubyi.st/~scott/pabu/scott.jpg" /> <input type="submit" name="Pabufy" />
    </form>
  </div>

  <div id="pabufying">Pabufying ...</div>

  <div id="pabu"></div>
  <div id="todo">
    <h2>Todo</h2>
    <ul>
      <li><strike>Initial prototype</strike></li>
      <li><strike>Proportional scaling only</strike></li>
      <li><strike>Find people in image</strike></li>
      <li><strike>Place a scalable Pabu by them</strike></li>
      <li>Use trimmed image of first frame of Pabu for scaler, save width</li>
      <li>Generate final animated gif</li>
      <li>Pabufy image upload</li>
      <li>Purty designs</li>
      <li>Detect multiple people</li>
      <li>Flip Pabu to face right or left</li>
      <li>Work better with smaller images - Pabu's drag handles are too big</li>
      <li>Animate Pabu while working</li>
      <li>...</li>
      <li>Profit!</li>
    </ul>
  </div>
</body>
